appartners/__pycache__/*.pyc
users/__pycache__/*.pyc
users/migrations/__pycache__/*.pyc
.idea/
venv/
*.env
apartments/__pycache__/
apartments/migrations/__pycache__/
users/photos/
apartments/photos/
apartments/models/__pycache__/
apartments/serializers/__pycache__/
apartments/.DS_Store