appartners/__pycache__/*.pyc
users/__pycache__/*.pyc
users/migrations/__pycache__/*.pyc
.idea/
venv/
*.env
apartments/__pycache__/
apartments/migrations/__pycache__/
users/photos/
apartments/photos/
apartments/models/__pycache__/
apartments/serializers/__pycache__/
apartments/.DS_Store
users/models/__pycache__/
users/serializers/__pycache__/
users/.DS_Store
.DS_Store
env/
create_user_details.sql
