# Python cache files
__pycache__/
*.pyc

# Virtual Environment
venv/

# Environment variables
*.env

# Media and uploads
test_photo.jpg

# Configuration
config/

# IDE settings
.idea/

# macOS system files
.DS_Store
*/.DS_Store

# Database
create_user_details.sql

#Documents
docs/

#Firebase
firebase.json
